.noHabits {
  color: #1c8ce8;
  text-align: center;
  font-size: 1.2rem;
  margin: 0.5rem;
}

h2 {
  margin: 1rem 2rem;
  font-size: 2rem;
}

.habit-list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.habit {
  width: 100%;
  height: 3rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.habit-button {
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;

  background-color: #74c0ff;
  border-radius: 1rem;
  border: 3px solid #1c8ce8;
  box-shadow: 0 1px 3px rgba(0, 0, 255, 0.505);
}

.habit-button > span {
  margin: 0.5rem;
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

.habit > .completion-button {
  width: 1.3rem;
  height: 1.3rem;

  flex: 0 0 auto;

  border-radius: 1.2rem;
  border: 2px solid black;
}

.habit > .completion-button:hover {
  border-color: #00C700;
}

.complete {
  background-color: #00C700;
}