<h2 class="create-title">Edit Habit</h2>
<form (ngSubmit)="updateHabit()">
  <div>
    <label>Name</label>
    <span *ngIf="!allowedName" class="warning">{{ nameError }}</span>
    <input [(ngModel)]="habitName" name="habitName" required>
  </div>

  <div>
    <label>Description</label>
    <span *ngIf="!allowedDesc" class="warning">{{ descError }}</span>
    <textarea [(ngModel)]="description" rows="6" name="description"></textarea>
  </div>

  <div class="bottom-buttons">
    <button (click)="toHabitDetails()">Back</button>
    <button type="submit">Save</button>
  </div>
</form>