.create-habit-button {
  color: white;
  font-size: clamp(1cm, 10vh, 1.5cm);
  margin: 0 clamp(0.1cm, 1.5vh, 0.25cm);
  font-family:Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.create-habit-button:hover {
  opacity: 0.8;
}

.logout-button {
  font-size: clamp(0.3cm, 3vh, 0.45cm);
  margin: 0 clamp(0.1cm, 1.5vh, 0.25cm);
  color: white;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

.logout-button:hover {
  opacity: 0.8;
}